[Desktop Entry]
Name=Layan Dark
Comment=Layan Dark Aurorae Theme
X-KDE-PluginInfo-Name=Layan-dark
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Author=NineOS
X-KDE-PluginInfo-License=GPL
